In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [2]:
dataset_name = 'wine'


folder_path = 'dataset/'
file_format='.csv'

In [3]:
data_path = folder_path + dataset_name + file_format
data = pd.read_csv(data_path,header=None)

In [4]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,1.518613,-0.562250,0.232053,-1.169593,1.913905,0.808997,1.034819,-0.659563,1.224884,0.251717,0.362177,1.847920,1.013009
1,1,0.246290,-0.499413,-0.827996,-2.490847,0.018145,0.568648,0.733629,-0.820719,-0.544721,-0.293321,0.406051,1.113449,0.965242
2,1,0.196879,0.021231,1.109334,-0.268738,0.088358,0.808997,1.215533,-0.498407,2.135968,0.269020,0.318304,0.788587,1.395148
3,1,1.691550,-0.346811,0.487926,-0.809251,0.930918,2.491446,1.466525,-0.981875,1.032155,1.186068,-0.427544,1.184071,2.334574
4,1,0.295700,0.227694,1.840403,0.451946,1.281985,0.808997,0.663351,0.226796,0.401404,-0.319276,0.362177,0.449601,-0.037874

In [5]:
minmax = MinMaxScaler()
normalized_data = minmax.fit_transform(data)

c:\program files\python36\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [6]:
normalized_df = pd.DataFrame(normalized_data, columns = None)

In [7]:
postfix = '_normalized'
normal_data_path = 'normalized_dataset/'
norm_data_file_name = normal_data_path + dataset_name + file_format  #  + postfix

normalized_df.to_csv(norm_data_file_name, header= None , index= False )