In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
with open('breast-cancer-wisconsin.data', 'r') as f:
    content = f.readlines()

In [4]:
content = [x.strip() for x in content]

In [5]:
with open('breast-cancer-wisconsin.names', 'r') as f:
    header = f.readlines()

In [6]:
# header 
header = ['Sample code number','Clump Thickness','Uniformity of Cell Size','Uniformity of Cell Shape','Marginal Adhesion','Single Epithelial Cell Size','Bare Nuclei','Bland Chromatin','Normal Nucleoli','Mitoses','Class']

In [7]:
for i in range(0,len(content)):
    content[i] = content[i].split(',')
    for j in range(0,len(content[i])):
        content[i][j]=content[i][j].strip()

In [9]:
print(content[0])

['1000025', '5', '1', '1', '1', '2', '1', '3', '1', '1', '2']

In [10]:
for i in range(0,len(content)):
    if content[i][10] == '2':
        content[i][10]=-1      # Changing the values of labels from 2 , to '-1' and '+1'  
    elif content[i][10] == '4':
        content[i][10]=1

In [13]:
print(content[0]) # Just printing out one of the elements of the list (one of the records) to see the values and data types

['1000025', '5', '1', '1', '1', '2', '1', '3', '1', '1', -1]

In [15]:
newContent = content # Just

In [16]:
for i in range(0,len(newContent)):
    for j in range(0,len(newContent[i])):
        try:
            if newContent[i][j]=='?':  # This condition is added since there are several unknown given values 
                newContent[i][j]=0.1
            else:
                newContent[i][j]=float(newContent[i][j])
        except:
            print('iteration : ', i ,j)
            continue

In [149]:
arrayContent = np.asarray(newContent, dtype=np.float32)

In [151]:
data = pd.DataFrame(data=arrayContent[0:,0:],    # values  # 1st column as index
             columns=header)  # 1st row as the column names

In [152]:
data.head()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025.0,5.0,1.0,1.0,1.0,2.0,1.0,3.0,1.0,1.0,-1.0
1,1002945.0,5.0,4.0,4.0,5.0,7.0,10.0,3.0,2.0,1.0,-1.0
2,1015425.0,3.0,1.0,1.0,1.0,2.0,2.0,3.0,1.0,1.0,-1.0
3,1016277.0,6.0,8.0,8.0,1.0,3.0,4.0,3.0,7.0,1.0,-1.0
4,1017023.0,4.0,1.0,1.0,3.0,2.0,1.0,3.0,1.0,1.0,-1.0

In [153]:
data.to_csv('breast_cancer_wisconsin.csv')